/* Reset everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make body and html fill the screen */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Fullscreen image */
.fullscreen-banner {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}
